.wrapper {
    display: flex;
    margin: 5px;

    .placeholder {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 640px;
        height: 480px;

        border-radius: 10px;
        border: 3px solid $accent-color-border;
        background-color: $accent-color-bg;

        p {
            color: $text-color;
            font-size: 30px;
            font-weight: bold;
        }
    }

    .image {
        width: 640px;
        height: 480px;

        border: 3px solid $accent-color-border;
    }
}