$text-color: #b4aff8;
$text-color-disable: #8886b1;
$text-color-hover: #c9c8fa;

$accent-color: #4d71b3;
$accent-color-bg: #2e3749;
$accent-color-border: rgb(75, 107, 129);
$accent-color-hover: #7aa2ec;